@import "../../../app/styles/colors";

.ant-layout-sider {
  background: #001d3d;
  .ant-layout-sider-children {
    background: #001d3d;
    .ant-menu-dark{
      background: #001d3d;
      color: #fff;
      .ant-menu-item {
        color: #fff;

        a {
          color: #fff;
        }
      }
    }
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        .ant-menu-submenu-arrow {
          color: #fff;
        }
      }
      color: #fff;
      background: #001d3d;
      .ant-menu {
        background: #001d3d;
        color: #fff;
      .ant-menu-item {
        background: #001d3d;
        color: #fff;

        a {
          color: #fff;
        }
      }
      }
    }
  }
  .ant-layout-sider-trigger {
    background: #001d3d;
  }
}

.logo{
  background-color: white;
}
