
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.rectangle {
  width: 128px;
  height: 128px;
  border: 1px solid gray;
  text-align: center;
}
.spine {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}
